<div class="modal fade" id="editKaryawan<%= data.id %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-info">
            <h5 class="m-0 p-0 text-white"> Karyawan</h5>
          </div>
          <div class="modal-body text-start">
              <form method="post" action="/gj/editkaryawan">
                  <div class="container-fluid p-0">
                      <div class="card bg-white p-3 mb-3">
                        <div class="row">
                            <div class="col-sm">
                                <label for="inpID" class="col-sm-2 col-form-label">id</label>
                                <input type="hidden" class="form-control form-control-sm" name="inidkaryawan" id="inidkaryawan" autocomplete="off" value="<%= data.id %>">
                                <input type="text" class="form-control form-control-sm" name="" id="" autocomplete="off" value="<%= data.id %>" disabled>
                            </div>
                            <div class="col-sm">
                                <label for="inpNama" class="col-sm-2 col-form-label">nama</label>
                                <input type="text" class="form-control form-control-sm" name="innamakaryawan" id="innamakaryawan" autocomplete="off" value="<%= data.nama %>">
                            </div>
                        </div>
                        <div class="row mt">
                            <div class="col-sm">
                                <label for="inpJabatan" class="col-sm-2 col-form-label">Jabatan</label>
                                <input type="hidden" id="getKas" name="getKas" value="<%= data.kas %>">
                                <select class="form-select" name="injabatan" id="injabatan" value="<%= data.kj %>">
                                  <option value="<%= data.kj %>"><%= data.jabatan %></option>
                                  <% for( let i = 0; i < jabatan.length; i++ ) { %>
                                      <option value="<%= jabatan[i].kj %>"><%= jabatan[i].namajabatan %> </option>
                                  <% } %>
                                </select>
                              </div>
                        </div>
                        <div class="btn-group mt-3" role="group" aria-label="Basic example">
                          <button type="button" class="btn badge btn-secondary" data-bs-dismiss="modal"><i class="bi bi-trash"></i> Tutup</button>
                          <button type="submit" class="btn badge btn-info"><i class="bi bi-trash"></i> Kirim</button>
                        </div>
                      </div>
                  </div>
              </form>
          </div>
  
          <div class="modal-footer">
              
          </div>        
        </div>
    </div>
</div>